/.idea/
docs/generated/
/build/
/node_modules/
/target/
**/.asciidoctor/
*.drawio.svg.bkp
*.bak
*.cache
**/business-context-*.svg
**/quality-tree.svg
**/technical-context.svg
/.bundle
Gemfile.lock
/package.json
/package-lock.json
