<footer class="footer">
  <span style="with: 33%">
    &nbsp;
  </span>
  <span style="with: 33%">
    &nbsp;
  </span>
  <span style="with: 33%">
    <a href="{{{site.url}}}/impressum.html">Impressum</a>
  </span>
</footer>
