<footer class="footer">
  <div style="width: 100%">
    <div style="with: 33%; display: inline-block; *display: inline; vertical-align: top;">
      &nbsp;
    </div>
    <div style="with: 33%; display: inline-block; *display: inline; vertical-align: top;">
      &nbsp;
    </div>
    <div style="with: 33%; display: inline-block; *display: inline; vertical-align: top;">
      <a href="{{{site.url}}}/pi/impressum.html">Impressum</a>
    </div>
  </div>
</footer>
